@font-face {  
    
    font-weight: normal;  
    font-style: normal;  
    }  
     
html,body{ 
    font-family: 'calibri';    
    width:100%;     
    height:100%;  
    margin:0;
    padding:0;
    overflow-x:hidden;
    min-width: 410px;
}

#container {
   min-height:100%;
   position:relative;
}

#content {
    padding-bottom:117em;   
    height: 50em;
}

#profile_pic {
    height: 9em;
    display: inline-block;
    margin-left: 1.5em;
}

header {
    background: snow;
}

.name_title {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    margin-left: 1em;
}

#first_name_title {
    font-size: 3em;
}

#last_name_title {
    color: #3170BA;
    font-size: 3em;
}

.menu_title{
    display: inline-block;
    float: right;
    margin-top: 4.8em;
    padding-right: 2em;
    font-size: 1.3em;
}

.menu_item {
    color: #8E8787;
}

#job_title {
    color: #8E8787;
    font-size: 1.2em;
}

.navigation {   
    position:fixed;     
    z-index:1;      
    top:20px;  
}  
.navigation li {    
    color:#333333;      
    display:block;      
    padding: 0 10px;    
    line-height:30px;   
    margin-bottom:2px;      
    font-weight:bold;   
    -webkit-transition: all .2s ease-in-out;    
    border-bottom:1px solid black;      
    text-align:left;    
    width:53px;  
}  
.navigation li:hover,
.active {   
    font-size:25px;     
    cursor:pointer;     
    width:100px!important;  
}

.slide {
    background-attachment: fixed;
    width:100%;
    position: relative;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
    text-align: center;
}

.slide_title {
    color: rgba(255,255,255,0.7);
    font-size:60px;
    font-weight:bold;
    display: inline-block;
    margin-top: 0.8em;
}

.slide_text {
    display: inline-block;
    margin-top: 2em;
    //color: rgba(255,255,255,0.9);
    color: rgba(0,0,0,1);
    font-size:30px;
    //font-weight:bold;
    width: 60%;
}

#slide_text2 {
    color: rgba(255,255,255,0.9);
}

#slide_text4 {
    font-size: 25px;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
    //background-color:#5c9900;
    background-image: url('../images/guitar3.jpg'); 
    opacity: 0.8;
    height:80%;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
    //background-color:#5c9900;
    background-image: url('../images/graduation5.jpg'); 
    opacity: 0.8;
    height:90%;
}
/******************************
 SLIDE 3
*******************************/
#slide3{
    //background-color:#5c9900;
    background-image: url('../images/work1.jpg'); 
    opacity: 0.7;
    height:100%;
}
/******************************
 SLIDE 4 
*******************************/
#slide4{
    //background-color:#005c99;
    background-image: url('../images/cup2.jpg'); 
    opacity: 0.8;
    height:60%;
}

footer {
    text-align: center;
    height: 3.5em;
    width: 100%;
    font-weight: normal;
    position:absolute;
    bottom:0;
    color:snow;
    background: black;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a.active {
    color: black;
}

.menu_item a{
    color: #8E8787;
}

.menu_item a:visited {
    color: #8E8787;
}

.menu_item a:hover {
    color: #8E8787;
}

.menu_item a.active {
    color: #8E8787;
}