@font-face {  
    
    font-weight: normal;  
    font-style: normal;  
    }  
     
html,body{ 
    font-family: 'calibri';    
    width:100%;     
    height:100%;  
}

#profile_pic {
    height: 7em;
    display: inline-block;
    margin-left: 1.5em;
}

header {
    //background: #525252;
    background: snow;
}

.name_title {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    margin-left: 1em;
}

#first_name_title {
    font-size: 2em;
}

#last_name_title {
    color: #3170BA;
    font-size: 2em;
}

.email_title{
    display: inline-block;
    float: right;
    margin-top: 4.2em;
    padding-right: 1em;
}

#email_desc {
    color: #8E8787;
}

#job_title {
    color: #3170BA;
}

.navigation {   
    position:fixed;     
    z-index:1;      
    top:20px;  
}  
.navigation li {    
    color:#333333;      
    display:block;      
    padding: 0 10px;    
    line-height:30px;   
    margin-bottom:2px;      
    font-weight:bold;   
    -webkit-transition: all .2s ease-in-out;    
    border-bottom:1px solid black;      
    text-align:left;    
    width:53px;  
}  
.navigation li:hover,
.active {   
    font-size:25px;     
    cursor:pointer;     
    width:100px!important;  
}

.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}

.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}

.button{
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:50%;
    background-color:#333333;
    background-repeat:no-repeat;
}
.button:hover{
    background-color:#494949;
    cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
    background-color:#5c9900;
     
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
    background-color:#005c99;
     
}