<div class="content-wrapper-title">
	<span>1</span><span>Career</span>
</div>

<div class="career-content-wrapper box-content-wrapper">
	<!-- Accenture -->
	<div id="career-ungerboeck" class="career-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://www.accenture.com/ie-en/new-applied-now" target="_blank"><img src="images/accenture_logo.png"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://www.accenture.com/ie-en/new-applied-now" target="_blank">Accenture</a></h2>
					<div class="box-item-position">Web Front End Software Engineer</div>
					<div class="box-item-location">Dublin - Ireland</div>
					<div class="box-item-period">Oct. 2017 - Present</div>
					<div class="box-item-description">
						<h3>Responsabilities</h3>
						<ul>
							 <li>Develop application and component strategy in line with the business strategy for Accenture’s Organizational Analytics application.</li>
							 <li>Bake technology trends into the solution.</li>
							 <li>Architect the development strategy for the application and it's components.</li>
							 <li>Manage one or multiple development streams in line with overall program s timing and milestones.</li>
							 <li>Manage overall deployment plan including the development plan and schedule.</li>
							 <li>Implement and set security and data direction for the coding work.</li>
							 <li>Understand business drivers that will impact performance.</li>
							 <li>Ensure maintenance activities are in line with Service Level Agreements SLAs or other business requirements.</li>
							 <li>Provide technical expertise and guidance to production support staff.</li>
							 <li>Design, build, assemble, and configure application or technical architecture components using business requirements.</li>
							 <li>Build and leverage reusable code and libraries for future use.</li>
							 <li>Lead code and quality management reviews.</li>
							 <li>Partner with the testing team to ensure the application components are fully functional.</li>
							 <li>Oversee and fix any defects or performance problems discovered in testing.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="career-item-skills">
			<h3>Skills Used</h3>
			<div class="career-item-list-of-skills">
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>JavaScript</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Durandal</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Knockout</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>jQuery</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Bootstrap</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>LESS/CSS</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Gulp</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title"><span>D3</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">80%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>HTML</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Underscore</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /Accenture -->

	<!-- Ungerboeck -->
	<div id="career-ungerboeck" class="career-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://ungerboeck.com/" target="_blank"><img src="images/ungerboeck_logo.png"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://ungerboeck.com/" target="_blank">Ungerboeck Software International</a></h2>
					<div class="box-item-position">Full Stack Developer - Digital Services Team</div>
					<div class="box-item-location">O'Fallon, MO - USA</div>
					<div class="box-item-period">Jan. 2015 - Jun. 2017</div>
					<div class="box-item-description">
						<h3>Accomplishments</h3>
						<ul>
							 <li>Architected  and developed a set of new applications with the intent of expanding the set of offerings available for our clients. Applications such as <a href="http://digital.ungerboeck.com/demos/eproposal/" target="_blank">eProposal</a>, <a href="https://digital.ungerboeck.com/demos/spaceavailability/" target="_blank">Space Availability</a> and <a href="https://digital.ungerboeck.com/demos/map/" target="_blank">the Dynamic Map</a> are fully integrated with the company's main product and offer clients a set of fresh tools that are proven to the a unique solution in the events industry.</li>
							 <li>Successfully integrated both web applications and web sites with Ungerboeck's API. This was a highly requested demand by our clients and allowed the Digital Services Team to create relationships with new client as well as increase our customers satisfaction.</li>
							 <li>Introduced and developed the Digital Services Team Wiki page. The "Digiwiki" is highly used to keep track of task statuses, time entry reports as well as clients training documentations, code snippets and more.</li>
							 <li>Lead Front End developer of the company's brand new <a href="http://devsample.ungerboeck.com/ungerboeck.cshtml?AppCode=ECP&OrgCode=10&CC=1" target="_blank">Event Collaboration Portal</a>. The new portal was the first of a set of new applications scheduled to be delivered to our customers through the innovative cycle introduced by the company's new leadership team. The product was developed in direct partnership with one of our biggest client and even before it hit the market it had already proven to be a success, with other clients ready to become partners and implement the new solution.</li>
							 <li>Lead developer on successful web applications and web sites implementations such as the <a href="http://www.memorialcoliseum.com/" target="_blank">Allen County War Memorial Coliseum</a> and the <a href="http://occc.a2hosted.com/login" target="_blank">Orange County Convention Center</a> . Those web sites are very unique, as they are fully integrated with the company's main product through customized .NET web services as well as fully managed through regular CMS such as Joomla and WordPress.</li>
							 <li>Created code base to support upgrades for changed components as the company's main product undergo major updates that affect the integration points created by the Digital Services Team.</li>
							 <li>Performed client training and client support.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="career-item-skills">
			<h3>Skills Used</h3>
			<div class="career-item-list-of-skills">
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>PHP</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>MS SQL</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="90%">
						<div class="skillbar-title"><span>.NET - C# & Visual Basic</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">90%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>jQuery</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Bootstrap</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Handlebars</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title"><span>NodeJS</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">80%</div>
					</div>
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title"><span>Knockout</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">80%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>HTML</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>SASS/CSS</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /Ungerboeck -->

	<!-- LBN -->
	<div id="career-lbn" class="career-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://www.localbackhaul.com/" target="_blank"><img src="images/lbn_logo.png"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://www.localbackhaul.com/" target="_blank">Local Backhaul Networks</a></h2>
					<div class="box-item-position">Software Developer Intern</div>
					<div class="box-item-location">Chesterfield, MO - USA</div>
					<div class="box-item-period">May 2013 - Dec. 2014</div>
					<div class="box-item-description">
						<h3>Accomplishments</h3>
						<ul>
							 <li>Implemented customer dynamic bandwidth ordering. The feature makes it easy for customers to utilize the Ocular IP portal to increase their network bandwidth. End users can directly request additional capacity on-demand through the portal.</li>
							<li>Implemented the Maintenance Ticket Bulk Uploader that runs as a daemon service and communicates with the Ticket API in order to automatically add tickets to the system through an uploaded XML file. The feature makes it easy for end users to add several tickets to portal without the necessity of manually adding one by one.</li>
							<li>Designed and implemented a new Domain Editor interface, which allows end users to easily create domains and subdomains up to “n” levels that are available throughout the entire Ocular IP portal.</li>
							<li>Designed and implemented a User Wizard interface. The feature allows end users to quickly and easily setup a new account into the Ocular IP portal in a matter of just a few clicks.</li>
							<li>Part of the team that migrated old procedural code base into CodeIgniter framework for more rapid and robust development cycles.</li>
							<li>Performed software testing and quality assurance.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="career-item-skills">
			<h3>Skills Used</h3>
			<div class="career-item-list-of-skills">
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>PHP</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>MySQL</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Code Igniter</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="90%">
						<div class="skillbar-title"><span>Javascript</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">90%</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>jQuery</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="70%">
						<div class="skillbar-title"><span>Foundation</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">70%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>HTML</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>CSS</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /LBN -->

	<!-- MGS -->
	<div id="career-mgs" class="career-content-item box-wrapper">
		<div class="box-item-header">
			<div class="info-wrapper col-xs-12">
				<div class="row">
					<h2>MGS Informatics</h2>
					<div class="box-item-position">Software Developer</div>
					<div class="box-item-location">Itabirito, MG - Brazil</div>
					<div class="box-item-period">Sep. 2005 - Dec. 2007 and Mar. 2010 - Dec. 2010</div>
					<div class="box-item-description">
						 <h3>Accomplishments</h3>
						 <ul>
						 	<li>Architected and started the implementation of the company’s new web-based software solution using the Maker datagram Language. The new solution replaced the company’s old desktop-based application.</li>
							<li>Designed the User Interface from the ground up focusing on the end user experience and performance.</li>
							<li>Part of the team that architected and implemented the system’s MySQL database.</li>
							<li>Upon departure, trained other team members on how the new software was architected and on how to use the Maker datagram language.</li>
							<li>Assisted the development team on implementing new features and on fixing bugs to the company’s desktop application. The application allowed users to manage inventory and finances through a simple and yet robust user interface.</li>
							<li>Provided customer support.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="career-item-skills">
			<h3>Skills Used</h3>
			<div class="career-item-list-of-skills">
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Visual Fox Pro</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>MySQL</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="70%">
						<div class="skillbar-title"><span>MSSQL</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">70%</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title"><span>HTML</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">80%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Maker Datagram</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /MGS -->

	<!-- BackOffice -->
	<div id="career-bo" class="career-content-item box-wrapper">
		<div class="box-item-header">
			<div class="info-wrapper col-xs-12">
				<div class="row">
					<h2>Back Office Informatics</h2>
					<div class="box-item-position">CEO/Software Developer</div>
					<div class="box-item-location">Itabirito, MG - Brazil</div>
					<div class="box-item-period">Jan. 2008 - Oct. 2009</div>
					<div class="box-item-description">
						<h3>Accomplishments</h3>
						<ul>
							<li>Architected and implemented from the ground up a customized desktop application for clients that were not satisfied with any of the solutions available in the market. Our solution was architected to meet their needs and provide customized tools for the client’s vendors, which would allow them to deliver a better service for their customers.</li>
						<li>Designed the User Interface from the ground up with focus on the client vendor’s needs and performance as well.</li>
						<li>Architected and implemented a robust MS SQL database that held all the data provided by the vendors.</li>
						<li>Conducted market research and customer satisfaction surveys in order to identify new opportunities and potential new customers.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="career-item-skills">
			<h3>Skills Used</h3>
			<div class="career-item-list-of-skills">
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>C#</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>MSSQL</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Visual Studio</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title"><span>Sales/Marketing</span></div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /BackOffice -->
</div>