<div class="careers-content-wrapper">
	<!-- Ungerboeck -->
	<div class="careers-content-item box-wrapper">
		<div class="careers-item-header">
			<div class="info-wrapper col-xs-10">
				<div class="row">
					<h2><a href="https://ungerboeck.com/" target="_blank">Ungerboeck Software International</a></h2>
					<div class="careers-item-position">Full Stack Developer</div>
					<div class="careers-item-period">Jan. 2015 - Jun. 2017</div>
					<div class="careers-item-description">
						 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque. Vestibulum porta nec diam quis ultricies. Integer pharetra ut eros non lobortis. Maecenas luctus ante ac orci faucibus vehicula. Maecenas viverra enim et lorem ornare, non ultricies massa sodales. Duis rhoncus tincidunt massa, sed placerat arcu dignissim in. Ut sollicitudin elit a nisl consequat, sit amet vehicula nibh vestibulum.
					</div>
				</div>
			</div>
			<div class="image-wrapper col-xs-2">
				<div class="row">
					<a href="https://ungerboeck.com/" target="_blank"><img src="images/ungerboeck_logo.png"></a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="careers-item-skills">
			<h3>Main Skills Used</h3>
			<div class="careers-item-list-of-skills">
				<div class="col-xs-4">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #286DA8;"><span>PHP</span></div>
						<div class="skillbar-bar" style="background: #5BA0DB;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #CD5360;"><span>MS SQL</span></div>
						<div class="skillbar-bar" style="background: #E76D7A;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="90%">
						<div class="skillbar-title" style="background: #8FD8D2;"><span>.NET</span></div>
						<div class="skillbar-bar" style="background: #C2FFFF;"></div>
						<div class="skill-bar-percent">90%</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #B37D4E;"><span>jQuery</span></div>
						<div class="skillbar-bar" style="background: #E6B081;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #438496;"><span>Handlebars</span></div>
						<div class="skillbar-bar" style="background: #76B7C9;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title" style="background: #6D7993;"><span>NodeJS</span></div>
						<div class="skillbar-bar" style="background: #A0ACC6;"></div>
						<div class="skill-bar-percent">80%</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #E24E42;"><span>HTML</span></div>
						<div class="skillbar-bar" style="background: #FF8175;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #94618E;"><span>CSS</span></div>
						<div class="skillbar-bar" style="background: #C794C1;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /Ungerboeck -->

	<!-- LBN -->
	<div class="careers-content-item box-wrapper">
		<div class="careers-item-header">
			<div class="info-wrapper col-xs-10">
				<div class="row">
					<h2><a href="https://www.localbackhaul.com/" target="_blank">Local Backhaul Networks</a></h2>
					<div class="careers-item-position">Software Developer Intern</div>
					<div class="careers-item-period">May 2013 - Dec. 2014</div>
					<div class="careers-item-description">
						 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque. Vestibulum porta nec diam quis ultricies. Integer pharetra ut eros non lobortis. Maecenas luctus ante ac orci faucibus vehicula. Maecenas viverra enim et lorem ornare, non ultricies massa sodales. Duis rhoncus tincidunt massa, sed placerat arcu dignissim in. Ut sollicitudin elit a nisl consequat, sit amet vehicula nibh vestibulum.
					</div>
				</div>
			</div>
			<div class="image-wrapper col-xs-2">
				<div class="row">
					<a href="https://www.localbackhaul.com/" target="_blank"><img src="images/lbn_logo.png"></a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="careers-item-skills">
			<h3>Main Skills Used</h3>
			<div class="careers-item-list-of-skills">
				<div class="col-xs-4">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #286DA8;"><span>PHP</span></div>
						<div class="skillbar-bar" style="background: #5BA0DB;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #E37222;"><span>MySQL</span></div>
						<div class="skillbar-bar" style="background: #FFA555;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="90%">
						<div class="skillbar-title" style="background: #18121E;"><span>Code Igniter</span></div>
						<div class="skillbar-bar" style="background: #655F6B;"></div>
						<div class="skill-bar-percent">90%</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="skillbar clearfix " data-percent="90%">
						<div class="skillbar-title" style="background: #3CC47C;"><span>Javascript</span></div>
						<div class="skillbar-bar" style="background: #6FF7AF;"></div>
						<div class="skill-bar-percent">90%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #B37D4E;"><span>jQuery</span></div>
						<div class="skillbar-bar" style="background: #E6B081;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #E24E42;"><span>HTML</span></div>
						<div class="skillbar-bar" style="background: #FF8175;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
					<div class="skillbar clearfix " data-percent="100%">
						<div class="skillbar-title" style="background: #94618E;"><span>CSS</span></div>
						<div class="skillbar-bar" style="background: #C794C1;"></div>
						<div class="skill-bar-percent">100%</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- /LBN -->
</div>