<div class="content-wrapper-title">
	<span>5</span><span>Contact Me</span>
</div>

<div class="contact-content-wrapper box-content-wrapper">
	<div class="contact-content-item box-wrapper">
		<div class="box-item-header">
			<div class="info-wrapper col-xs-12">
				<div class="row">
					<div class="box-item-description">
						 <div class="intro-medias">
							<ul>
								<li>
									<a href="mailto:marlon.gerodrigues@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="https://www.linkedin.com/in/marlon-rodrigues/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="https://github.com/marlon-rodrigues" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="https://bitbucket.org/marlongeraldo/" target="_blank"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="https://medium.com/@marlon.gerodrigues" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="Marlon_Resume.pdf" target="_blank"><i class="fa fa-file-text" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
