<div class="content-wrapper-title">
	<span>5</span><span>Contact Me</span>
</div>

<div class="contact-content-wrapper box-content-wrapper">
	<div class="contact-content-item box-wrapper">
		<div class="box-item-header">
			<div class="info-wrapper col-xs-12">
				<div class="row">
					<h2><a href="https://ungerboeck.com/" target="_blank">Let's Work Together!</a></h2>
					<div class="box-item-description">
						 <p>
						 	Email <i class="fa fa-arrow-right" aria-hidden="true"></i>
						 	<a href="mailto:marlon.gerodrigues@gmail.com">marlon.gerodrigues@gmail.com</a>
						 </p>
						 <p>
						 	Linkedin <i class="fa fa-arrow-right" aria-hidden="true"></i> 
						 	<a href="#">Bio Page</a>
						 </p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
