<div class="content-wrapper-title">
	<span>2</span><span>Education</span>
</div>

<div class="education-content-wrapper box-content-wrapper">

	<!-- Lindenwood -->
	<div id="education-lindenwood" class="education-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="http://www.lindenwood.edu/" target="_blank"><img src="images/lindenwood_logo.png"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="http://www.lindenwood.edu/academics/academic-schools/school-of-sciences/computer-science/degree-programs/computer-science-bs/" target="_blank">Lindenwood University</a></h2>
					<div class="box-item-position">Bachelor of Science (BS), Computer Science</div>
					<div class="box-item-extra">GPA: 3.28 - Major GPA: 3.57</div>
					<div class="box-item-period">Jan. 2011 - Dec. 2014</div>
					<div class="box-item-description">
						<h3>Activities and Awards</h3>
						<ul>
							<li>Founder and former President of the university's first Computer Science Club</li>
							<li>Dean's Honor List - Fall 2014</li>
							<li>Dean's Honor List - Spring 2014</li>
							<li>Dean's Honor List - Spring 2013</li>
							<li>Dean's Honor List - Fall 2011</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /Lindenwood -->

	<!-- Udacity -->
	<div id="education-udacity" class="education-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://www.udacity.com/" target="_blank"><img src="images/udacity_logo.svg"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://www.udacity.com/course/self-driving-car-engineer-nanodegree--nd013" target="_blank">Udacity</a></h2>
					<div class="box-item-position">Self-Driving Car Nanodegree</div>
					<div class="box-item-period">Jan. 2017 - Dec. 2017</div>
					<div class="box-item-description">
						 <p>
						 Self-driving cars are set to change the way we live with technology on the cutting-edge of robotics, machine learning, computer vision, and mechanical engineering. In this program, students learn the skills and techniques used by self-driving car teams at the most innovative companies in the world. Through interactive projects in computer vision, robotic controls, localization, path planning, and more, students will master technologies that are going to shape the future.
						 </p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /Udacity -->

	<!-- Coursera -->
	<div id="education-coursera" class="education-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://www.coursera.org/" target="_blank"><img src="images/coursera_logo.svg"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://www.coursera.org/specializations/ruby-on-rails" target="_blank">Coursera</a></h2>
					<div class="box-item-position">Ruby on Rails Web Development specialization</div>
					<div class="box-item-extra">Create by: Johns Hopkins University</div>
					<div class="box-item-period">Oct. 2015 - Oct. 2016</div>
					<div class="box-item-description">
						 <p>
						 This Specialization covers the fundamentals of web development with Ruby on Rails. Students learn everything they need to develop their own web application using Ruby on Rails, SQL and NoSQL databases, and HTML/CSS, and Javascript/AngularJS. The specialization also touchs on advanced topics such as security, services using HTTP/RESTful access patterns, and user access and user experience from multiple device platforms. 
						 </p>
						 <h3>Accomplishments</h3>
						 <ul>
						 	<li><a href="https://www.coursera.org/account/accomplishments/certificate/TLZ6H7YGW6PL" target="_blank">Ruby on Rails: An Introduction</a></li>
						 	<li><a href="https://www.coursera.org/account/accomplishments/certificate/W76J94XWMEBQ" target="_blank">Rails with Active Record and Action Pack</a></li>
						 	<li><a href="https://www.coursera.org/account/accomplishments/certificate/RVGXG3KB9X3P" target="_blank">Ruby on Rails Web Services and Integration with MongoDB</a></li>
						 	<li><a href="https://www.coursera.org/account/accomplishments/certificate/LE3M5HXAXW64" target="_blank">HTML, CSS, and Javascript for Web Developers</a></li>
						 	<li><a href="https://www.coursera.org/account/accomplishments/certificate/3MTPEDBGVUNZ" target="_blank">Single Page Web Applications with AngularJS</a></li>
						 </ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /Coursera -->

</div>
