<div class="content-wrapper-title">
	<span>2</span><span>Education</span>
</div>

<div class="education-content-wrapper box-content-wrapper">

	<!-- Lindenwood -->
	<div id="education-lindenwood" class="education-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="http://www.lindenwood.edu/" target="_blank"><img src="images/lindenwood_logo.png"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://ungerboeck.com/" target="_blank">Lindenwood University</a></h2>
					<div class="box-item-position">BS Computer Science</div>
					<div class="box-item-period">Jan. 2011 - Dec. 2014</div>
					<div class="box-item-description">
						 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque. Vestibulum porta nec diam quis ultricies. Integer pharetra ut eros non lobortis. Maecenas luctus ante ac orci faucibus vehicula. Maecenas viverra enim et lorem ornare, non ultricies massa sodales. Duis rhoncus tincidunt massa, sed placerat arcu dignissim in. Ut sollicitudin elit a nisl consequat, sit amet vehicula nibh vestibulum.
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /Lindenwood -->

	<!-- Udacity -->
	<div id="education-udacity" class="education-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://www.udacity.com/" target="_blank"><img src="images/udacity_logo.svg"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://ungerboeck.com/" target="_blank">Udacity</a></h2>
					<div class="box-item-position">Self-Driving Car Nanodegree</div>
					<div class="box-item-period">Jan. 2017 - Dec. 2017</div>
					<div class="box-item-description">
						 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque. Vestibulum porta nec diam quis ultricies. Integer pharetra ut eros non lobortis. Maecenas luctus ante ac orci faucibus vehicula. Maecenas viverra enim et lorem ornare, non ultricies massa sodales. Duis rhoncus tincidunt massa, sed placerat arcu dignissim in. Ut sollicitudin elit a nisl consequat, sit amet vehicula nibh vestibulum.
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /Udacity -->

	<!-- Coursera -->
	<div id="education-coursera" class="education-content-item box-wrapper">
		<div class="box-item-header">
			<div class="image-wrapper col-xs-12 col-sm-push-10 col-sm-2">
				<div class="row">
					<a href="https://www.coursera.org/" target="_blank"><img src="images/coursera_logo.svg"></a>
				</div>
			</div>
			<div class="info-wrapper col-xs-12 col-sm-pull-2 col-sm-10">
				<div class="row">
					<h2><a href="https://ungerboeck.com/" target="_blank">Coursera</a></h2>
					<div class="box-item-position">Ruby on Rails</div>
					<div class="box-item-period">Oct. 2015 - Aug. 2016</div>
					<div class="box-item-description">
						 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque. Vestibulum porta nec diam quis ultricies. Integer pharetra ut eros non lobortis. Maecenas luctus ante ac orci faucibus vehicula. Maecenas viverra enim et lorem ornare, non ultricies massa sodales. Duis rhoncus tincidunt massa, sed placerat arcu dignissim in. Ut sollicitudin elit a nisl consequat, sit amet vehicula nibh vestibulum.
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- /Coursera -->

</div>
