<div class="introduction-container-wrapper container">
	<div class="col-xs-12 col-sm-6">
		<div class="intro-header">
			<p>Hello, I'm</p>
			<h1>Marlon Rodrigues</h1>
		</div>
		<div class="intro-body">
			<p class="intro-section-title">About Me</p>
			<p>Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque. Vestibulum porta nec diam quis ultricies. Integer pharetra ut eros non lobortis. Maecenas luctus ante ac orci faucibus vehicula. Maecenas viverra enim et lorem ornare, non ultricies massa sodales. Duis rh</p>
		</div>

		<div class="intro-footer">
			<p class="view-site">Let's Go!</p>
		</div>
	</div>
</div>