<div class="main-navigation-header">
	<img src="images/profile_pic.png" alt="Marlon Rodrigues">
</div>

<div class="main-navigation-body">
	<div id="main-nav-career" class="main-nav-item active" sub-nav="sub-navigation-career">
		<a href="#career"><i class="fa fa-briefcase" aria-hidden="true" title="Career"></i></a>
	</div>

	<div id="main-nav-education" class="main-nav-item" sub-nav="sub-navigation-education">
		<a href="#education"><i class="fa fa-graduation-cap" aria-hidden="true" title="Education"></i></a>
	</div>

	<div id="main-nav-work" class="main-nav-item" sub-nav="sub-navigation-projects">
		<a href="#"><i class="fa fa-code-fork" aria-hidden="true" title="Projects"></i></a>
	</div>

	<div id="main-nav-skills-list" class="main-nav-item" sub-nav="sub-navigation-skills">
		<a href="#"><i class="fa fa-list-ul" aria-hidden="true" title="Skills List"></i></a>
	</div>

	<div id="main-nav-about-me" class="main-nav-item" sub-nav="sub-navigation-about">
		<a href="#"><i class="fa fa-user-o" aria-hidden="true" title="About Me"></i></a>
	</div>
</div>

<div class="main-navigation-footer">
	<div id="main-nav-contact-me">
		<a href="#"><i class="fa fa-envelope-o" aria-hidden="true" title="Contact Me"></i></a>
	</div>
</div>