<div class="main-navigation-header">
	<img src="images/profile-placeholder.png" alt="Marlon Rodrigues">
</div>

<div class="main-navigation-body">
	<div id="main-nav-career" class="main-nav-item">
		<div class="">
			<i class="fa fa-briefcase" aria-hidden="true"></i>
		</div>
	</div>

	<div id="main-nav-education" class="main-nav-item main-nav-career">
		<div class="">
			<i class="fa fa-graduation-cap" aria-hidden="true"></i>
		</div>
	</div>
</div>


<div class="main-navigation-footer">

</div>