<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="mobile-header navbar-header">
			<div class="row">
				<div class="col-xs-9">
					<div class="mobile-header-image">
						<img src="images/profile_pic.png" alt="Marlon Rodrigues">
					</div>
					<div class="mobile-header-name">Marlon <span> Rodrigues</span></div>
					<div class="mobile-header-position">Software Developer</div>
				</div>
				<div class="col-xs-3">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navigation" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				</div>
			</div>
		</div>

	    <div class="collapse navbar-collapse" id="mobile-navigation">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Career <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#career-ungerboeck" class="clickable">Ungerboeck Software International</a></li>
	            <li><a href="#career-lbn" class="clickable">Local Backhaul Networks</a></li>
	            <li><a href="#career-mgs" class="clickable">MGS Informatics</a></li>
	            <li><a href="#career-bo" class="clickable">Back Office Informatics</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#education-lindenwood" class="clickable">Lindenwood University</a></li>
	            <li><a href="#education-udacity" class="clickable">Udacity</a></li>
	            <li><a href="#education-coursera" class="clickable">Coursera</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#projects-ai" class="clickable">AI & Machine Learning</a></li>
	            <li><a href="#projects-apps" class="clickable">Web Applications</a></li>
	            <li><a href="#projects-sites" class="clickable">Web Sites</a></li>
	          </ul>
	        </li>
	        <li class="active">
	        	<a href="#skills" class="clickable">Skills Graph</a>
	        </li>
	        <li class="active">
	        	<a href="#contact" class="clickable">Contact Me</a>
	        </li>
	      </ul>

	      <div class="mobile-intro-text">
	      	Software Engineer and Full Stack Web Developer. AI & Machine Learning enthusiastic. Deep Learning practitioner. Life long learner. Loves self-driving cars and believes AI will play a key role in our lives in the very near future. Ready for the <a href="https://www.amazon.com/Third-Wave-Entrepreneurs-Vision-Future/dp/1501132598/ref=sr_1_1?ie=UTF8&qid=1494552819&sr=8-1&keywords=the+third+wave" target="_blank">third wave</a>. Almost 10 years of experience building great and effective solutions. Risk taker. Wants to make the world a better place and believes AI and robotics are the key for that. Traveler. Passionate about the arts, with music in the heart.
	      </div>
	      
	    </div><!-- /.navbar-collapse -->

	</div>
</nav>