<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="mobile-header navbar-header">
			<div class="row">
				<div class="col-xs-9">
					<div class="mobile-header-image">
						<img src="images/profile_pic.png" alt="Marlon Rodrigues">
					</div>
					<div class="mobile-header-name">Marlon <span> Rodrigues</span></div>
					<div class="mobile-header-position">AI/Front End Engineer</div>
				</div>
				<div class="col-xs-3">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navigation" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				</div>
			</div>
		</div>

	    <div class="collapse navbar-collapse" id="mobile-navigation">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Career <span class="caret"></span></a>
	          <ul class="dropdown-menu">
							<li><a href="#career-accenture" class="clickable">Accenture</a></li>
							<li><a href="#career-ungerboeck" class="clickable">Ungerboeck Software International</a></li>
	            <li><a href="#career-lbn" class="clickable">Local Backhaul Networks</a></li>
	            <li><a href="#career-mgs" class="clickable">MGS Informatics</a></li>
	            <li><a href="#career-bo" class="clickable">Back Office Informatics</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education & Certificates<span class="caret"></span></a>
	          <ul class="dropdown-menu">
							<li><a href="#education-nic" class="clickable">National College of Ireland</a></li>
							<li><a href="#education-lindenwood" class="clickable">Lindenwood University</a></li>
	            <li><a href="#education-udacity" class="clickable">Udacity</a></li>
	            <li><a href="#education-coursera" class="clickable">Coursera</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#projects-ai" class="clickable">AI & Machine Learning</a></li>
	            <li><a href="#projects-apps" class="clickable">Web Applications</a></li>
	            <li><a href="#projects-sites" class="clickable">Web Sites</a></li>
	          </ul>
	        </li>
	        <li class="active">
	        	<a href="#skills" class="clickable">Skills Graph</a>
	        </li>
	        <li class="active">
	        	<a href="#contact" class="clickable">Contact Me</a>
	        </li>
	      </ul>

	      <div class="mobile-intro-text">
	      	AI/Front End Engineer with a Bachelor of Science in Computer Science and candidate for a MSc in Data Analytics. Enjoy working on exciting and cutting edge projects. AI & Machine Learning enthusiastic. Deep Learning practitioner. Lifelong learner.
	      </div>
	      
	    </div><!-- /.navbar-collapse -->

	</div>
</nav>