<!-- Ungerboeck -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Ungerboeck Software International</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
				<div class="box-item-video">
				 
				</div>
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_ungerboeck_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Ungerboeck -->

<!-- AGHA -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Australian Gift & Homewares Association</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_agha_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /AGHA -->

<!-- Allen County -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Allen County War Memorial Coliseum</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_allencounty_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Allen County -->

<!-- MISTI -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">MIS|TI Training Institute</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_misti_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MISTI -->

<!-- Probank -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Professional Bank Services</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_probank_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Probank -->

<!-- PG&E -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Pacific Gas and Eletric Company</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_pge_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /PG&E -->

<!-- MPHI -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Michigan Department of Health & Human Services</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_mphi_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MPHI -->

<!-- Colorado College -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Colorado College</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_cc_image.png" class="match-projects-sites-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Colorado College -->