<!-- Find Lane Lines -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Finding Lane Lines</a></h2>
				<div class="box-item-platform">Python, OpenCV</div>
				<div class="box-item-video">
				 
				</div>
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_find_lanes_image.png" class="match-projects-ai-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Find Lane Lines -->

<!-- Traffic Sign Classifier -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Traffic Sign Classifier</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_traffic_signs_image.jpg" class="match-projects-ai-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Traffic Sign Classifier -->