<div class="content-wrapper-title">
	<span>3</span><span>Featured Projects</span>
</div>

<div class="projects-content-wrapper box-content-wrapper">

	<h2 class="projects-title">AI & Machine Learning</h2>
	<div id="projects-ai" class="projects-carousel-ai owl-carousel owl-theme"></div>

	<h2 class="projects-title">Web Applications</h2>
	<div id="projects-apps" class="projects-carousel-apps owl-carousel owl-theme"></div>

	<h2 class="projects-title">Web Sites</h2>
	<div id="projects-sites" class="projects-carousel-sites owl-carousel owl-theme"></div>

</div>