<!-- Find Lane Lines -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-FindingLanes-P1" target="_blank">Finding Lane Lines</a></h2>
				<div class="box-item-platform">Python, OpenCV</div>
				<div class="box-item-description">
					<p>
					In this project I detected highway lane lines on a video stream. I used OpencV image analysis techniques to identify lines, including Hough Transforms and Canny edge detection. <a href="https://github.com/marlon-rodrigues/SDC-FindingLanes-P1" target="_blank">See full write up report.</a>
					</p>
				</div>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/bOMdMpWe2bU?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Find Lane Lines -->

<!-- Traffic Sign Classifier -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Traffic-Signs-P2" target="_blank">Traffic Sign Classifier</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				 <p>
				 	In this project, I used what I've learned about deep neural networks and convolutional neural networks to classify traffic signs. I trained and validated a model using TensorFlow so it could classify traffic sign images using the <a href="http://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset" target="_blank">German Traffic Sign Dataset</a>. After the model was trained, I tried out the model on images of German traffic signs that I found on the web. My model final results gave me an outstanding accuracy of 99.9% on the training set, 98.5% on the validation set and a solid 96.4% on the testing data set. I pushed it further and tried on 13 different german traffic signs I found on line and the model had an accuracy of 84.6% (11 of the 13 images were predicted correctly), which compares favorably to the accuracy on the test set of 96.4%. <a href="https://github.com/marlon-rodrigues/SDC-Traffic-Signs-P2/blob/master/Writeup.md" target="_blank">See full write up report.</a>
				 </p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_traffic_signs_image.jpg" class="match-projects-ai-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Traffic Sign Classifier -->

<!-- Behavioral Cloning -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Behavioral-Cloning-P3" target="_blank">Behavioral Cloning</a></h2>
				<div class="box-item-platform">Python, Keras, OpenCV</div>
			</div>
			<div class="box-item-description">
				<p>
				 In this project, I used what I've learned about deep neural networks and convolutional neural networks to clone driving behavior. I built and trained a convolutional neural network for end-to-end driving in a simulator, using TensorFlow and Keras. I also used optimization techniques such as regularization and dropout to generalize the network for driving on multiple tracks. I used a simulator provided by Udacity where I could steer a car around a track for data collection. I used image data and steering angles to train a neural network and then used this model - which outpus a steering angle - to drive the car autonomously around the track. <a href="https://github.com/marlon-rodrigues/SDC-Behavioral-Cloning-P3/blob/master/writeup_report.md" target="_blank">See full write up report.</a>
				</p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/0iPanUFDgvI?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Behavioral Cloning -->

<!-- Advanced Lane Finding -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Advanced-Lane-Lines-P4" target="_blank">Advanced Lane Finding</a></h2>
				<div class="box-item-platform">Python, OpenCV</div>
			</div>
			<div class="box-item-description">
				<p>In this project I built an advanced lane-finding algorithm using distortion correction, image rectification, color transforms, and gradient thresholding. Identified lane curvature and vehicle displacement. Overcame environmental challenges such as shadows and pavement changes. <a href="https://github.com/marlon-rodrigues/SDC-Advanced-Lane-Lines-P4/blob/master/writeup_report.md" target="_blank">See full write up report.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/dm_QfHqO8m0?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Advanced Lane Finding -->

<!-- Vehicle Detection -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Vehicle-Detection-And-Tracking-P5" target="_blank">Vehicle Detection & Tracking</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				<p>In this project I created a vehicle detection and tracking pipeline with OpenCV, histogram of oriented gradients (HOG), and support vector machines (SVM). Optimized and evaluated the model on video data from a automotive camera taken during highway driving. <a href="https://github.com/marlon-rodrigues/SDC-Vehicle-Detection-And-Tracking-P5/blob/master/writeup_report.md" target="_blank">See full write up report.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/ybPUH7ldsiY?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Vehicle Detection -->

<!-- Extended Kalman Filter -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Extended-Kalman-Filter-P6" target="_blank">Extended Kalman Filter</a></h2>
				<div class="box-item-platform">C++, Motion Models, Lidar and Radar Sensor Fusion</div>
			</div>
			<div class="box-item-description">
				<p>In this project I implemented in C++ a kalman filter to estimate the state of a moving object of interest with noisy lidar and radar measurements. The video shows the results of the kalman filter predictions. Lidar measurements are red circles, radar measurements are blue circles with an arrow pointing in the direction of the observed angle, and estimation markers are green triangles. The video shows what the simulator looks like when a c++ script is using its Kalman filter to track the object. The simulator provides the script the measured data (either lidar or radar), and the script feeds back the measured estimation marker, and RMSE values from its Kalman filter. <a href="https://github.com/marlon-rodrigues/SDC-Extended-Kalman-Filter-P6" target="_blank">See source code.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/O9T-C-mFaBM?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Extended Kalman Filter -->

<!-- Unscented Kalman Filter -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Unscented-Kalman-Filter-P7" target="_blank">Unscented Kalman Filter</a></h2>
				<div class="box-item-platform">C++, Motion Models, Lidar and Radar Sensor Fusion</div>
			</div>
			<div class="box-item-description">
				<p>In this project I implemented an Unscented Kalman Filter algorithm in C++ capable of accurately and performantly tracking a turning object. <a href="https://github.com/marlon-rodrigues/SDC-Unscented-Kalman-Filter-P7" target="_blank">See source code.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/6zJlBJP7kJA?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Unscented Kalman Filter -->

<!-- Particle Filter -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Particle-Filter-P8" target="_blank">Particle Filter</a></h2>
				<div class="box-item-platform">C++, Particle Filters</div>
			</div>
			<div class="box-item-description">
				<p>In this project I implemented a 2 dimensional particle filter in C++ capable of localizing a vehicle within desired accuracy and time. <a href="https://github.com/marlon-rodrigues/SDC-Particle-Filter-P8" target="_blank">See source code.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/B5Zv1Cj89AQ?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Particle Filter -->

<!-- PID Controller -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-PID-Controls-P9" target="_blank">PID Controller</a></h2>
				<div class="box-item-platform">C++, PID Control</div>
			</div>
			<div class="box-item-description">
				<p>In this project I implemented a PID controller in C++ to maneuver a vehicle around a track. <a href="https://github.com/marlon-rodrigues/SDC-PID-Controls-P9" target="_blank">See source code.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/dQHF_KRFk10?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /PID Controller -->

<!-- Model Predictive Control (MPC) -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-MPC-P10" target="_blank">Model Predictive Control (MPC)</a></h2>
				<div class="box-item-platform">C++, Model Predictive Control</div>
			</div>
			<div class="box-item-description">
				<p>In this project I implemented Model Predictive Control to drive a vehicle around a track even with additional latency between commands. <a href="https://github.com/marlon-rodrigues/SDC-MPC-P10" target="_blank">See source code.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="345" src="https://www.youtube.com/embed/USpCiaYH2Xo?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Model Predictive Control (MPC) -->