<!-- MadPoll -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">MadPoll</a></h2>
				<div class="box-item-platform">NodeJS, MySQL, Socket.IO</div>
				<div class="box-item-video">
				 
				</div>
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_madpoll_image.jpg" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MadPoll -->

<!-- The Hub -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2>The Hub</h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_occc_hub_image.png" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /The Hub -->

<!-- Space Availability -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Space Availability</a></h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_space_availability_image.png" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Space Availability -->

<!-- CaterU -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Catering App</a></h2>
				<div class="box-item-platform">Swift, VB.Net</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_cateru_image.png" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /CaterU -->

<!-- Nummus -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Nummus</a></h2>
				<div class="box-item-platform">Swift, VB.Net</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_nummus_image.png" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Nummus -->

<!-- Mapz -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">MapZ</a></h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_mapz_image.png" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Mapz -->

<!-- Space Booking -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-8">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Space Booking</a></h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="image-wrapper hidden-xs col-sm-4">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_space_booking_image.png" class="match-projects-apps-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Space Booking -->