<!-- MCEC ECP -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content mcec-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Melbourne Convention and Exhibition Centre Customer Portal</a></h2>
				<div class="box-item-platform">NodeJS, MySQL, Socket.IO</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MCEC ECP -->

<!-- MadPoll -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content dynamic-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Dynamic Poll</a></h2>
				<div class="box-item-platform">NodeJS, MySQL, Socket.IO</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MadPoll -->

<!-- OCCC Hub -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content occc-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2>Orange County Convention Center Hub</h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /OCCC Hub -->

<!-- Space Availability -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content availability-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Space Availability</a></h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Space Availability -->

<!-- CaterU -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">View Code</a>
				<div class="image-overlay"></div>
				<div class="image-content cateru-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Catering App</a></h2>
				<div class="box-item-platform">Swift, VB.Net</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /CaterU -->

<!-- Zoo Hub -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content zoo-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2>St. Louis Zoo Hub</h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Zoo Hub -->

<!-- Nummus -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">View Code</a>
				<div class="image-overlay"></div>
				<div class="image-content nummus-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Nummus</a></h2>
				<div class="box-item-platform">Swift, VB.Net</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Nummus -->

<!-- Mapz -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content mapz-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">MapZ</a></h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Mapz -->

<!-- Space Booking -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content booking-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Space Booking</a></h2>
				<div class="box-item-platform">PHP, C#</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Space Booking -->