<!-- Ungerboeck -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content ungerboeck-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Ungerboeck Software International</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
				<div class="box-item-video">
				 
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Ungerboeck -->

<!-- AGHA -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content agha-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Australian Gift & Homewares Association</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /AGHA -->

<!-- Allen County -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content allencounty-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Allen County War Memorial Coliseum</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Allen County -->

<!-- MISTI -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content misti-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">MIS|TI Training Institute</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MISTI -->

<!-- AusToy -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content austoy-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Australian Toy Assocation</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /AusToy -->

<!-- PG&E -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content pge-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Pacific Gas and Eletric Company</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /PG&E -->

<!-- MPHI -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content mphi-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Michigan Department of Health & Human Services</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MPHI -->

<!-- Chatham County -->
<div class="projects-content-item projects-content-sites-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-5 col-sm-7">
			<div class="row">
				<a href="#" target="_blank">Visit Site</a>
				<div class="image-overlay"></div>
				<div class="image-content chatham-site">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Chatham County</a></h2>
				<div class="box-item-platform">PHP, Joomla</div>
			</div>
			<div class="box-item-description">
				 Aenean auctor, enim non ornare ornare, lorem ligula sollicitudin dui, quis ullamcorper est purus vitae neque.
			</div>
			<div class="box-item-video">
				 
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Chatham County -->