<!-- Find Lane Lines -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-FindingLanes-P1" target="_blank">Finding Lane Lines</a></h2>
				<div class="box-item-platform">Python, OpenCV</div>
				<div class="box-item-description">
					<p>
					In this project I detected lane lines in images using Python and OpenCV. OpenCV means "Open-Source Computer Vision", which is a package that has many useful tools for analyzing images. <a href="https://github.com/marlon-rodrigues/SDC-FindingLanes-P1" target="_blank">See full write up report.</a>
					</p>
				</div>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="375" src="https://www.youtube.com/embed/bOMdMpWe2bU?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Find Lane Lines -->

<!-- Traffic Sign Classifier -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Traffic-Signs-P2" target="_blank">Traffic Sign Classifier</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				 <p>
				 	In this project, I used what I've learned about deep neural networks and convolutional neural networks to classify traffic signs. I trained and validated a model so it could classify traffic sign images using the <a href="http://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset" target="_blank">German Traffic Sign Dataset</a>. After the model was trained, I tried out the model on images of German traffic signs that I found on the web. My model final results gave me an outstanding accuracy of 99.9% on the training set, 98.5% on the validation set and a solid 96.4% on the testing data set. I pushed it further and tried on 13 different german traffic signs I found on line and the model had an accuracy of 84.6% (11 of the 13 images were predicted correctly), which compares favorably to the accuracy on the test set of 96.4%. <a href="https://github.com/marlon-rodrigues/SDC-Traffic-Signs-P2/blob/master/Writeup.md" target="_blank">See full write up report.</a>
				 </p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<a href="#" target="_blank"><img src="images/projects_traffic_signs_image.jpg" class="match-projects-ai-height"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Traffic Sign Classifier -->

<!-- Behavioral Cloning -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Behavioral-Cloning-P3" target="_blank">Behavioral Cloning</a></h2>
				<div class="box-item-platform">Python, Keras, OpenCV</div>
			</div>
			<div class="box-item-description">
				<p>
				In this project, I used what I've learned about deep neural networks and convolutional neural networks to clone driving behavior. I trained, validated and tested a model using Keras. The model outputs a steering angle to an autonomous vehicle. I used a simulator provided by Udacity where I could steer a car around a track for data collection. I used image data and steering angles to train a neural network and then used this model to drive the car autonomously around the track. <a href="https://github.com/marlon-rodrigues/SDC-Behavioral-Cloning-P3/blob/master/writeup_report.md" target="_blank">See full write up report.</a>
				</p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="375" src="https://www.youtube.com/embed/0iPanUFDgvI?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Behavioral Cloning -->

<!-- Advanced Lane Finding -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Advanced-Lane-Lines-P4" target="_blank">Advanced Lane Finding</a></h2>
				<div class="box-item-platform">Python, OpenCV</div>
			</div>
			<div class="box-item-description">
				<p>The goals / steps of this project are the following:</p>
				<ul>
					<li>Apply a distortion correction to raw images.</li>
					<li>Use color transforms, gradients, etc., to create a thresholded binary image.</li>
					<li>Apply a perspective transform to rectify binary image ("birds-eye view").</li>
					<li>Detect lane pixels and fit to find the lane boundary.</li>
					<li>Determine the curvature of the lane and vehicle position with respect to center.</li>
					<li>Warp the detected lane boundaries back onto the original image.</li>
					<li>Output visual display of the lane boundaries and numerical estimation of lane curvature and vehicle position.</li>
				</ul>
				<p><a href="https://github.com/marlon-rodrigues/SDC-Advanced-Lane-Lines-P4/blob/master/writeup_report.md" target="_blank">See full write up report.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="375" src="https://www.youtube.com/embed/dm_QfHqO8m0?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Advanced Lane Finding -->

<!-- Vehicle Detection -->
<div class="projects-content-item projects-content-ai-item box-wrapper">
	<div class="project-item-header">
		<div class="info-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/SDC-Vehicle-Detection-And-Tracking-P5" target="_blank">Vehicle Detection & Tracking</a></h2>
				<div class="box-item-platform">Python, TensorFlow, OpenCV</div>
			</div>
			<div class="box-item-description">
				<p>The goals / steps of this project are the following:</p>
				<ul>
					<li>Perform a Histogram of Oriented Gradients (HOG) feature extraction on a labeled training set of images and train a classifier Linear SVM classifier</li>
					<li>Optionally, apply a color transform and append binned color features, as well as histograms of color, to the HOG feature vector.</li>
					<li>Implement a sliding-window technique and use a trained classifier to search for vehicles in images.</li>
					<li>Run pipeline on a video stream and create a heat map of recurring detections frame by frame to reject outliers and follow detected vehicles.</li>
					<li>Estimate a bounding box for vehicles detected.</li>
				</ul>
				<p><a href="https://github.com/marlon-rodrigues/SDC-Vehicle-Detection-And-Tracking-P5/blob/master/writeup_report.md" target="_blank">See full write up report.</a></p>
			</div>
		</div>
		<div class="image-wrapper col-xs-12 col-sm-6">
			<div class="row">
				<iframe width="100%" height="375" src="https://www.youtube.com/embed/ybPUH7ldsiY?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Advanced Lane Finding -->