<!-- MCEC ECP -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://ungerboeck.com/" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content mcec-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://ungerboeck.com/" target="_blank">Event Collaboration Portal</a></h2>
				<div class="box-item-platform">Durandal, Knockout, HTML 5, SASS</div>
				<div class="box-item-description">
					<p>Event Collaboration Portal. A very powerful and highly customized application that allow clients to manage all aspects of an event. Users can be invited, registered and take actions such as submit documents, complete and review tasks and much more.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MCEC ECP -->

<!-- MadPoll -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://madpoll.herokuapp.com/" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content dynamic-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://madpoll.herokuapp.com/" target="_blank">Dynamic Poll</a></h2>
				<div class="box-item-platform">NodeJS, MySQL, Socket.IO, HTML 5, CSS</div>
				<div class="box-item-description">
					<p>Dynamic poll system used during the Ungerboeck 2016 Global Conference.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /MadPoll -->

<!-- OCCC Hub -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="http://occc.a2hosted.com/login" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content occc-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="http://occc.a2hosted.com/login" target="_blank">Orange County Convention Center</a></h2>
				<div class="box-item-platform">PHP, C#, HTML 5, jQuery, Handlebars, CSS</div>
				<div class="box-item-description">
					<p>Event Customer Portal. Clients can easily see a list of events and bookings available. They can also see detailed information about each event, including documents, contacts and much more. On top of that, clients can also update events and request bookings, all of it customized for each type of account allowed in the system.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /OCCC Hub -->

<!-- Space Availability -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://digital.ungerboeck.com/demos/spaceavailability/" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content availability-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://digital.ungerboeck.com/demos/spaceavailability/" target="_blank">Space Availability</a></h2>
				<div class="box-item-platform">PHP, C#, HTML5, jQuery, CSS</div>
				<div class="box-item-description">
					<p>Space availability and booking application. Very functional application that allow clients to check the availability of a space through out the year and request a booking at the same time.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Space Availability -->

<!-- CaterU -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://github.com/marlon-rodrigues/Catering-App" target="_blank">View Code</a>
				<div class="image-overlay"></div>
				<div class="image-content cateru-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-7 col-sm-5">
			<div class="row">
				<h2><a href="https://github.com/marlon-rodrigues/Catering-App/blob/master/resources/AppResources_New/CateringApp.pdf" target="_blank">Catering App</a></h2>
				<div class="box-item-platform">Swift, VB.Net</div>
				<div class="box-item-description">
					 <p>
					 A personalizable app that allows catering companies, venues, and a whole host of other businesses to provide quick and easy catering services to their customers. Created during the Ungerobeck 2016 HackaThon.
					 </p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /CaterU -->

<!-- Zoo Hub -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://hub.stlzoo.org/" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content zoo-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://hub.stlzoo.org/" target="_blank">St. Louis Zoo</a></h2>
				<div class="box-item-platform">PHP, C#, HTML 5, jQuery, Handlebars, CSS</div>
				<div class="box-item-description">
					<p>Event Customer Portal. Allow clients to easily see a list of events and bookings available. Clients can also see detailed information about each individual event, including documents, contacts and much more. On top of that, clients can also update events and request bookings, all of it customized for each type of account allowed in the system.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Zoo Hub -->

<!-- Nummus -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://github.com/marlon-rodrigues/Nummus_iOS" target="_blank">View Code</a>
				<div class="image-overlay"></div>
				<div class="image-content nummus-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://play.google.com/store/apps/details?id=com.redclockapps.nummus&hl=en" target="_blank">Nummus</a></h2>
				<div class="box-item-platform">Objective C, Java, SQLite</div>
				<div class="box-item-description">
					<p>
					Nummus is a simple but yet efficient app for both <a href="https://play.google.com/store/apps/details?id=com.redclockapps.nummus&hl=en" target="_blank">Android Marketplace</a> and Apple App Store (currently the app is only available on the Android Marketplace). The app provide its users simple graphs and reports to keep them informed of all of their financial transactions.
					</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Nummus -->

<!-- Mapz -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://digital.ungerboeck.com/demos/map/" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content mapz-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://digital.ungerboeck.com/demos/map/" target="_blank">Dynamic Map</a></h2>
				<div class="box-item-platform">PHP, C#, HTML 5, jQuery, Mapplic, CSS</div>
				<div class="box-item-description">
					<p>Dynamic map application. Highly customized application that allow clients to display their grounds with data integrated with their back end application.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Mapz -->

<!-- Space Booking -->
<div class="projects-content-item projects-content-apps-item box-wrapper">
	<div class="project-item-header">
		<div class="image-wrapper col-xs-12 col-sm-push-6 col-sm-6">
			<div class="row">
				<a href="https://digital.ungerboeck.com/demos/spacebooking/" target="_blank">Launch App</a>
				<div class="image-overlay"></div>
				<div class="image-content booking-app">&nbsp;</div>
			</div>
		</div>
		<div class="info-wrapper col-xs-12 col-sm-pull-6 col-sm-6">
			<div class="row">
				<h2><a href="https://digital.ungerboeck.com/demos/spacebooking/" target="_blank">Space Booking</a></h2>
				<div class="box-item-platform">PHP, C#, HTML 5, jQuery, CSS</div>
				<div class="box-item-description">
					<p>Space booking application. Simple but yet useful application that allow clients to quickly request a booking space.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /Space Booking -->