<h1>Marlon <span>Rodrigues</span></h1>
<p class="position">Software Developer</p>
<p class="intro">Software engineer and full stack web developer. AI & Machine Learning enthusiastic. Deep Learning practitioner. Life long learner. Loves self-driving cars and believes AI will play a key role in our lives in the very near future. Ready for the <a href="https://www.amazon.com/Third-Wave-Entrepreneurs-Vision-Future/dp/1501132598/ref=sr_1_1?ie=UTF8&qid=1494552819&sr=8-1&keywords=the+third+wave" target="_blank">third wave</a>. Almost 10 years of experience building great and effective solutions. Risk taker. Wants to make the world a better place and believes AI and robotics are the key for that. Traveler. Passionate about the arts, with music in the heart.</p>
<div class="header-cut-off"></div>

