<div class="content-wrapper-title">
	<span>4</span><span>Skills Graph</span>
</div>

<div class="skills-content-item box-wrapper skills-wrapper">
	<svg width="700" height="700" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>
</div>

<div class="skills-content-item box-wrapper skills-wrapper-mobile">
	<div class="col-xs-4 skills-content-column">
		<div class="skillbar-content-wrapper">
			<div class="skillbar-content"><span>PHP</span></div>
			<div class="skillbar-content"><span>Javascript</span></div>
			<div class="skillbar-content"><span>jQuery</span></div>
			<div class="skillbar-content"><span>HTML 5</span></div>
			<div class="skillbar-content"><span>CSS/SASS</span></div>
			<div class="skillbar-content"><span>Bootstrap</span></div>
			<div class="skillbar-content"><span>Foundation</span></div>
			<div class="skillbar-content"><span>C#</span></div>
			<div class="skillbar-content"><span>Visual Basic</span></div>
			<div class="skillbar-content"><span>NodeJS</span></div>
			<div class="skillbar-content"><span>Knockout</span></div>
			<div class="skillbar-content"><span>Handlebars</span></div>
		</div>
	</div>

	<div class="col-xs-4 skills-content-column">	
		<div class="skillbar-content-wrapper">	
			<div class="skillbar-content"><span>Python</span></div>
			<div class="skillbar-content"><span>Tensor Flow</span></div>
			<div class="skillbar-content"><span>Open CV</span></div>
			<div class="skillbar-content"><span>Keras</span></div>
			<div class="skillbar-content"><span>MySQL</span></div>
			<div class="skillbar-content"><span>MSSQL</span></div>
			<div class="skillbar-content"><span>SQLite</span></div>
			<div class="skillbar-content"><span>Joomla</span></div>
			<div class="skillbar-content"><span>WordPress</span></div>
			<div class="skillbar-content"><span>Express</span></div>
			<div class="skillbar-content"><span>Ruby on Rails</span></div>
			<div class="skillbar-content"><span>Code Igniter</span></div>
		</div>
	</div>	
	
	<div class="col-xs-4 skills-content-column">	
		<div class="skillbar-content-wrapper">	
			<div class="skillbar-content"><span>REST</span></div>
			<div class="skillbar-content"><span>Git</span></div>
			<div class="skillbar-content"><span>TFS</span></div>
			<div class="skillbar-content"><span>NPM</span></div>
			<div class="skillbar-content"><span>Bower</span></div>
			<div class="skillbar-content"><span>Gulp</span></div>
			<div class="skillbar-content"><span>Docker</span></div>
			<div class="skillbar-content"><span>Ruby</span></div>
			<div class="skillbar-content"><span>Swift</span></div>
			<div class="skillbar-content"><span>Visual Fox Pro</span></div>
			<div class="skillbar-content"><span>Objective C</span></div>
			<div class="skillbar-content"><span>Java</span></div>
		</div>
	</div>	
	<div class="clear"></div>	
</div>
