<div id="sub-navigation-career" class="sub-navigation-item active">
	<div class="sub-navigation-image">
		<img src="images/career_background_image.jpg" alt="career">
	</div>
	<div class="sub-navigation-header">
		<h2>Career</h2>
	</div>
	<div class="sub-navigation-body">
		<ul>
			<li><a href="#career-ungerboeck">Ungerboeck Software International <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#career-lbn">Local Backhaul Networks <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#">Mobile Developer <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#">Back Office Informatics <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#">MGS Informatics <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>

<div id="sub-navigation-education" class="sub-navigation-item">
	<div class="sub-navigation-image">
		<img src="images/education_background_image.jpg" alt="education">
	</div>
	<div class="sub-navigation-header">
		<h2>Education</h2>
	</div>
	<div class="sub-navigation-body">
		<ul>
			<li><a href="#education-lindenwood">Lindenwood University <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#education-udacity">Udacity <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#education-coursera">Coursera <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>

<div id="sub-navigation-projects" class="sub-navigation-item">
	<div class="sub-navigation-image">
		<img src="images/projects_background_image.jpg" alt="projects">
	</div>
	<div class="sub-navigation-header">
		<h2>Projects</h2>
	</div>
	<div class="sub-navigation-body">
		<ul>
			<li><a href="#projects-ai">AI & Machine Learning <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#projects-apps">Web Applications <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			<li><a href="#projects-sites">Web Sites <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>

<div id="sub-navigation-skills" class="sub-navigation-item">
	<div class="sub-navigation-image">
		<img src="images/skills_background_image.jpg" alt="skills">
	</div>
	<div class="sub-navigation-header">
		<h2>Skills Graph</h2>
	</div>
</div>