/*AVAILABLE FONTS
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Lato', sans-serif;
*/

*{
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
    overflow-y: scroll;
}
body {
    height: 100%;
    color: #525c65;
    background: rgba(249,250,251,1);
}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
a {
	color: #5887C6;
}
a:active, a:hover {
    color: #2A4C7A;
}
table {
    width: 100%;
}
.clear {
    clear: both;
}

/******* BEGIN SITE HEADER **********/
.site-header-container {
    padding-left: 11.5em;
    padding-right: 1em;
    width: 100%;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    position: fixed;
    background: #ffffff;
    z-index: 99;
}
.site-header-container #site-header h1 {
    margin-bottom: 0em;
    color: #1E262E;
}
.site-header-container #site-header .position {
    color: #8E8787;
    font-family: 'Lato', sans-serif;
}
.site-header-container #site-header p {
    font-family: 'Lato', sans-serif;   
}
/******* END SITE HEADER **********/

/******* BEGIN MAIN NAVIGATION *********/
.mobile-navigation-container {
    display: none;
}
.main-navigation-container {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    z-index: 999;
    width: 6.4%;
}
#main-navigation {
    background: #1E262E;
    height: 100%;
    position: fixed;
    padding: 0em 1.5em 1em;
    overflow: auto;
    width: 4.4em;
}
#main-navigation .main-navigation-header {
    position: fixed;
    width: 50px;
}
#main-navigation .main-navigation-header img {
    width: 300%;
    margin-left: -1.5em;
} 
#main-navigation .main-navigation-header img:hover {
    cursor: pointer;
}
#main-navigation .main-navigation-body {
    margin-top: 12.5em;
    text-align: center;
    min-height: 20em;
} 
#main-navigation .main-navigation-body .main-nav-item {
    margin-bottom: 1.7em;
}
#main-navigation .main-navigation-body .main-nav-item i {
    color: #ffffff;
    font-size: 2em;
    margin-left: -0.25em;
}
#main-navigation .main-navigation-body .main-nav-item i:hover {
    cursor: pointer;
    /*color: #2C9BD9;*/
    color: #63BEC9;
}
#main-navigation .main-navigation-footer {
    position: fixed;
    bottom: 1.5em;
    left: 2.2em;
    text-align: center;
    z-index: 1000;
    background: #1E262E;
}
#main-navigation .main-navigation-footer i {
    color: #ffffff;
    font-size: 2em;
    margin-left: -0.6em;
}
#main-navigation .main-navigation-footer i:hover {
    cursor: pointer;
    /*color: #2C9BD9;*/
    color: #63BEC9;
}
#main-navigation .main-nav-item.active i {
    /*color: #6EC4DB;*/
    color: #7DD8E3;
}   
/******* END MAIN NAVIGATION *********/

/******* BEGIN SUB NAVIGATION ******/
#sub-navigation {
    height: 100%;
    position: fixed;
    background: #313D48;
    color: #ffffff;
    padding: 0em;
    overflow: auto;
    /*width: 12%;*/
}
#sub-navigation .sub-navigation-item {
    /*height: 55%;*/
    height: 70%;
    overflow: scroll;
    display: none;
}
#sub-navigation .sub-navigation-item.active {
    display: block;
}
#sub-navigation .sub-navigation-image img {
    width: 100%;
}
#sub-navigation .sub-navigation-header {
    padding: 0.5em 1em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#sub-navigation .sub-navigation-header h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}
#sub-navigation .sub-navigation-body {
    padding: 0.5em 0em;
}
#sub-navigation .sub-navigation-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sub-navigation .sub-navigation-body ul li {
    font-size: 0.85em;
    position: relative;
    border-bottom: 1px solid #222;
    padding: 1.5em;
}
#sub-navigation .sub-navigation-body ul li a {
    color: #fff;
    text-decoration: none;
}
#sub-navigation .sub-navigation-body ul li i {
    position: absolute;
    top: 42%;
    right: 1em;
}
#sub-navigation .sub-navigation-body ul li:hover a {
    color: #63BEC9;
}
#sub-navigation .sub-navigation-body ul li:hover i {
    color: #63BEC9;
}
/******* END SUB NAVIGATION ******/

/******* BEGIN SITE CONTENT **********/
.content-container {
    height: 100%;
    margin-top: 11.35em;
    margin-left: 0em;
    padding-left: 0;
    padding-right: 0;
    width: 93.6%;
}
#content-wrapper {
    /*margin-left: 12.8%;
    width: 88.5%;*/
    margin-left: 17.999%;
    background: rgba(249,250,251,1);
    overflow: hidden;
}
#content-wrapper .content-body {
    padding: 2em 2em;
}
#content-wrapper .content-body:last-child {
    padding-bottom: 5em;
}
#content-wrapper .content-body .box-wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 2.5em;
}
.content-wrapper-title {
    margin-bottom: 1em;
}
.content-wrapper-title span:first-child {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 12px;
    height: 24px;
    width: 24px;
    text-align: center;
    padding: 0.1em 0.5em;
    font-weight: bold;
    color: #e24e42;
}
.content-wrapper-title span:last-child {
    margin-left: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    vertical-align: middle;
    color: #e24e42;
}
.box-content-wrapper {
    background: transparent;
}
.box-content-wrapper .box-wrapper .box-item-header {
    padding: 2em 2em 1em;
    border-bottom: 1px solid lightgray;
}
.box-content-wrapper .box-wrapper .box-item-header .info-wrapper h2 {
    margin-top: 0em;
    margin-bottom: 0.1em;
}
.box-content-wrapper .box-wrapper .box-item-header .info-wrapper h2 a {
    color: #A9A9A9;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
.box-content-wrapper .box-wrapper .box-item-header .info-wrapper .box-item-position {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 0em;
    font-size: 1.1em;
}
.box-content-wrapper .box-wrapper .box-item-header .info-wrapper .box-item-period {
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 0.8em;
}
.box-content-wrapper .box-wrapper .box-item-header .info-wrapper .box-item-description {
    font-family: 'Lato', sans-serif;
}
.box-content-wrapper .box-wrapper .box-item-header .image-wrapper img {
    width: 100%;
}
/******* END SITE CONTENT **********/

/******* BEGIN CAREER SECTION *******/
.box-content-wrapper .box-wrapper .career-item-skills {
    padding: 1em 2em 2em;
}
.career-content-wrapper .career-content-item .career-item-skills h3 {
    margin-top: 0em;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Open Sans Condensed', sans-serif;
}
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:90%;
    background:#ccc;
    height:25px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:170px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    /*background:#6adcfa;*/
    background: #7DD8E3;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0);
    padding:0 20px;
    height:25px;
    line-height:25px;
    font-size: 0.85em;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-bar {
    height:25px;
    width:0px;
    /*background:#6adcfa;*/
    background: #7DD8E3;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.skill-bar-percent {
    position:absolute;
    right:-35px;
    top:0;
    font-size:11px;
    height:25px;
    line-height:25px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}
/******* END CAREER SECTION *******/

/******* BEGIN PROJECTS SECTION *****/
.education-content-wrapper .education-content-item .box-item-header {
    border-bottom: none;
    padding-bottom: 2em;
}
.projects-content-wrapper h2.projects-title {
    color: #555;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right;
    font-weight: normal;
}
.projects-content-wrapper .owl-carousel .owl-item .projects-content-item {
    box-shadow: none !important;
    margin-bottom: 0em !important; 
}
.projects-content-wrapper .projects-content-item .project-item-header {
    height: 100%;
}
.projects-content-wrapper .projects-content-item .project-item-header .info-wrapper {
    padding: 2em;   
}
.projects-content-wrapper .projects-content-item .project-item-header .info-wrapper > .row {
    margin-left: 0px;
    margin-right: 0px;
}
.projects-content-wrapper .projects-content-item .project-item-header .info-wrapper h2 {
    margin-top: 0em;
    margin-bottom: 0.1em;
}
.projects-content-wrapper .projects-content-item .project-item-header .info-wrapper h2 a {
    color: #A9A9A9;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
.projects-content-wrapper .projects-content-item .project-item-header .info-wrapper .box-item-platform {
    font-weight: bold;
    color: #6adcfa;
    margin-bottom: 0.6em;
}
.projects-content-wrapper .projects-content-item .project-item-header .image-wrapper,
.projects-content-wrapper .projects-content-item .project-item-header .image-wrapper > .row {
    height: 100%;
}
.projects-content-wrapper .projects-content-item .project-item-header .image-wrapper img {
    width: 100%;
    height: 100%;
}
.projects-content-wrapper .owl-carousel .owl-item {
    background: #ffffff;
    border-radius: 12px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #6EC4DB;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}
/******* END PROJECTS SECTION *****/

/******* BEGIN SKILLS SECTION *****/
#skills .box-wrapper {
    text-align: center;
}
#skills .box-wrapper svg {
    margin-top: 0em;
}
#skills .node text {
    font-weight: bold;
} 
#skills .node circle[id^='skills.web'] {
    fill: rgba(48, 172, 220, 0.4);
    stroke: rgb(48, 172, 220);
    stroke-width: 1px;
}
#skills .node circle[id^='skills.frameworks'] {
    fill: rgba(252, 193, 11, 0.4);
    stroke: rgb(252, 193, 11);
    stroke-width: 1px;
}
#skills .node circle[id^='skills.repo'] {
    fill: rgba(36, 95, 84, 0.4);
    stroke: rgb(36, 95, 84);
    stroke-width: 1px;
}
#skills .node circle[id^='skills.sql'] {
    fill: rgba(168, 50, 165, 0.4);
    stroke: rgb(168, 50, 165,);
    stroke-width: 1px;
}
#skills .node circle[id^='skills.languages'] {
    fill: rgba(255, 0, 26, 0.4);
    stroke: rgb(255, 0, 26);
    stroke-width: 1px;
}
#skills .node circle[id^='skills.ai'] {
    fill: rgba(49, 170, 52, 0.4);
    stroke: rgb(49, 170, 52);
    stroke-width: 1px;
}
#skills .node circle[id^='skills.miscellaneous'] {
    fill: rgba(150, 150, 150, 0.4);
    stroke: rgb(150, 150, 150);
    stroke-width: 1px;
}
/******* END SKILLS SECTION *****/

/******* BEGIN INTRODUCTION ******/
.introduction-wrapper {
    position: fixed;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(99,190,201,1);
    background: -moz-linear-gradient(left, rgba(99,190,201,1) 0%, rgba(83,186,167,1) 50%, rgba(71,179,128,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,190,201,1)), color-stop(50%, rgba(83,186,167,1)), color-stop(100%, rgba(71,179,128,1)));
    background: -webkit-linear-gradient(left, rgba(99,190,201,1) 0%, rgba(83,186,167,1) 50%, rgba(71,179,128,1) 100%);
    background: -o-linear-gradient(left, rgba(99,190,201,1) 0%, rgba(83,186,167,1) 50%, rgba(71,179,128,1) 100%);
    background: -ms-linear-gradient(left, rgba(99,190,201,1) 0%, rgba(83,186,167,1) 50%, rgba(71,179,128,1) 100%);
    background: linear-gradient(to right, rgba(99,190,201,1) 0%, rgba(83,186,167,1) 50%, rgba(71,179,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63bec9', endColorstr='#47b380', GradientType=1 );
    /*background: rgba(106,220,250,1);
    background: -moz-linear-gradient(left, rgba(106,220,250,1) 0%, rgba(81,195,225,1) 50%, rgba(4,118,148,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,220,250,1)), color-stop(50%, rgba(81,195,225,1)), color-stop(100%, rgba(4,118,148,1)));
    background: -webkit-linear-gradient(left, rgba(106,220,250,1) 0%, rgba(81,195,225,1) 50%, rgba(4,118,148,1) 100%);
    background: -o-linear-gradient(left, rgba(106,220,250,1) 0%, rgba(81,195,225,1) 50%, rgba(4,118,148,1) 100%);
    background: -ms-linear-gradient(left, rgba(106,220,250,1) 0%, rgba(81,195,225,1) 50%, rgba(4,118,148,1) 100%);
    background: linear-gradient(to right, rgba(106,220,250,1) 0%, rgba(81,195,225,1) 50%, rgba(4,118,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6adcfa', endColorstr='#047694', GradientType=1 );*/
}
#introduction {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    background: transparent;
}
.introduction-container-wrapper {
    margin-top: 4em;
    margin-bottom: 4em;
    z-index: 10000;
}
.introduction-container-wrapper .intro-header {
    margin: 2em;
}
.introduction-container-wrapper .intro-header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0em;
}
.introduction-container-wrapper .intro-header h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.8em;
    margin-top: 0em;
} 
.introduction-container-wrapper .intro-body {
    margin: 2em;
}
.introduction-container-wrapper .intro-body .intro-section-title {
    text-transform: uppercase;
    border-bottom: 7px solid #ffffff;
    display: inline-block;
    font-size: 1.3em;
    padding-bottom: 0.3em;
    padding-right: 0.2em;
    margin-bottom: 1.1em;
}
.intro-footer {
    position: absolute;
    bottom: 2.5em;
    text-align: center;
    width: 100%;
    z-index: 1000000000010;
}
.intro-footer div:hover {
    cursor: pointer;
}
.intro-footer p {
    color: #3a2d27;
}
.intro-footer i {
    font-size: 1.7em;
    color: #3a2d27;
}
.page-cut-off {
    width: 50%;
    height: 100%;
    border-bottom: 450px solid white;
    border-left: 1400px solid transparent;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
}
.intro-medias {
    position: relative;
    width: 100%;
    background: transparent;
    text-align: right;
    z-index: 100000;
    padding: 1em 2em 0.5em 2em;
}
.intro-medias ul {
    list-style: none;
    margin-bottom: 0em;
}
.intro-medias ul li {
    display: inline-block;
    margin-right: 2.5em;
}
.intro-medias ul li:last-child {
    margin-right: 0em;
}
.intro-medias ul li i {
    color: #3a2d27;
    font-size: 2.5em;
    margin-bottom: 0em;
}
.splash {
    background-image: url('../images/splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    /*z-index: 100000000000;*/
    width: 100%;
    height: 100%;
    opacity: 0.1;
    right: 0;
}
/******* END INTRODUCTION ******/

/******* BEGIN CONTACT ME SECTION *******/
.contact-content-wrapper .info-wrapper .box-item-description {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #3a2d27;
    font-weight: bold;
    font-size: 1.4em;
}
.contact-content-wrapper .info-wrapper .box-item-description a {
    color: #7DD8E3;
}
.contact-content-wrapper .info-wrapper .box-item-description a:hover {
    text-decoration: none;
}
/******* END CONTACT ME SECTION *******/

/******* BEGIN MOBILE MENU *********/
.navbar-default {
    background: #1E262E;
    border: none;
    color: #fff;
    border-radius: 0px;
    padding: 1em;
}
.mobile-header .mobile-header-name {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin-top: 0.3em;
    margin-left: 5em;
}
.mobile-header .mobile-header-position {
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;   
    margin-left: 7em;
}
.mobile-header button.navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #64707B;
    border-radius: 50%;
    border: none;
    padding: 1.3em 1em;
}
.mobile-header button.navbar-toggle .icon-bar {
    background: #fff;
}
.mobile-header button.navbar-toggle.collapsed {
    background-color: #fff;
}
.mobile-header button.navbar-toggle.collapsed .icon-bar {
    background: #000;
}
#mobile-navigation-menu .navbar-default .navbar-collapse {
    position: fixed;
    height: 100% !important;
    background: #313D48;
    width: 100%;
    margin-left: -2.1em;
    margin-top: 0.9em;
    overflow: scroll !important;
    padding-top: 2em;
    border: none;
}
.navbar-default .navbar-nav {
    padding: 0em 2em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2em;
    position: relative;
}
.navbar-default .navbar-nav > li > a .caret {
    position: absolute;
    top: 1.4em;
    right: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    background-color: transparent;
}
.navbar-default .mobile-intro-text {
    padding: 1em 2em;
    font-size: 1.2em;
    border-top: 1px solid #fff;
    height: 100%;
}
.navbar-nav > li > .dropdown-menu {
    position: relative;
    height: auto;
    width: 100%;
    background: transparent;
    border: none;
    margin-bottom: 1em;
    padding: 1em 1.5em;
    box-shadow: none;
    float: none;
}
.dropdown-menu > li > a {
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 0.8em;
    white-space: normal;
}
.mobile-header-image {
    position: absolute;
    top: -1em;
    width: 125px;
    left: -0.5em;
    z-index: 10000000000;
}
.mobile-header-image img {
    width: 100%;
}
/******* END MOBILE MENU *********/

/*********** BEGIN MEDIA QUERIES *********/
@media(max-width: 1199px){
    .introduction-container-wrapper {
        margin-top: 0em;
    }
    .page-cut-off {
        border-bottom: 250px solid white;
        border-left: 1000px solid transparent;
    }
    .content-container {
        margin-left: 0.6em;
    }
    #sub-navigation .sub-navigation-item {
        height: 60%;
    }
}
@media(max-width: 1050px){ 
    .content-container {
        margin-left: 1.8em;
    }
}
@media(max-width: 991px){
    .site-header-container {
        display: none;
    }
    .main-navigation-container {
        display: none;
    }
    #sub-navigation { 
        display: none;
    }
    .content-container {
        width: 100%;
        margin-left: 0em;
        margin-top: 8em;
    }
    #content-wrapper {
        margin-left: 0em;
    }
    .mobile-navigation-container {
        display: block;
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100%;
    }

    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav {
        float: none;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
}
@media(max-width: 767px){
    .introduction-container-wrapper {
        margin-top: 2em;
    }
    .page-cut-off {
        display: none;
    }
    .introduction-container-wrapper .intro-header p {
        font-size: 1em;
    }
    .introduction-container-wrapper .intro-header h1 {
        font-size: 3em;
    }
    .introduction-container-wrapper .intro-body .intro-section-title {
        font-size: 1em;
    }

}
@media(max-width: 530px){
    .intro-medias ul li {
        margin-right: 1.5em;
    }
    .intro-medias ul li i {
        font-size: 2em;
    }
    .intro-footer {
        position: relative;
        height: 100%;
    }
    .mobile-header-image {
        width: 100px;
        top: 0.5em;
        left: 0.5em;
    }
    .mobile-header .mobile-header-name {
        font-size: 1.1em;
        margin-top: 1em;
        margin-left: 6em;
    }
    .mobile-header .mobile-header-position {
        font-size: 0.9em;
        margin-left: 7.4em;
    }
}
@media(max-width: 368px){
    .mobile-header .mobile-header-name span {
        display: none;
    }
}   
@media(max-width: 320px){
    .introduction-container-wrapper {
        margin-top: 1em;
    }
    .introduction-container-wrapper .intro-header p {
        font-size: 0.9em;
    }
    .introduction-container-wrapper .intro-header h1 {
        font-size: 1.8em;
    }
    .introduction-container-wrapper .intro-body .intro-section-title {
        font-size: 0.9em;
    }
    .introduction-container-wrapper .intro-body p {
        font-size: 0.9em;
    }
    .intro-medias ul li {
        margin-right: 1em;
    }
    .intro-medias ul li i {
        font-size: 1.7em;
    }
}  
@media screen and ( max-height: 625px ){
    .page-cut-off {
        display: none;
    }
    .intro-footer {
        position: relative;
        height: 100%;
        bottom: 0em;
    }
}  
/*********** END MEDIA QUERIES *********/
