/*AVAILABLE FONTS
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Lato', sans-serif;
*/

*{
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
    overflow-y: scroll;
}
body {
    height: 100%;
    color: #525c65;
    overflow-y: scroll;
}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
a {
	color: #5887C6;
}
a:active, a:hover {
    color: #2A4C7A;
}
table {
    width: 100%;
}
.clear {
    clear: both;
}

/******* BEGIN SITE HEADER **********/
.site-header-container {
    padding-left: 11.5em;
    padding-right: 1em;
    width: 100%;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    position: fixed;
    background: #ffffff;
    z-index: 99;
}
.site-header-container #site-header h1 {
    margin-bottom: 0em;
    color: #1E262E;
}
.site-header-container #site-header .position {
    color: #8E8787;
    font-family: 'Lato', sans-serif;
}
.site-header-container #site-header p {
    font-family: 'Lato', sans-serif;   
}
/******* END SITE HEADER **********/

/******* BEGIN MAIN NAVIGATION *********/
.main-navigation-container {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    z-index: 999;
}
#main-navigation {
    background: #1E262E;
    height: 100%;
    position: fixed;
    padding: 0em 1.5em 1em;
    overflow: auto;
    width: 6.4em;
}
#main-navigation .main-navigation-header {
    position: fixed;
    width: 50px;
}
#main-navigation .main-navigation-header img {
    width: 300%;
    margin-left: -1.5em;
} 
#main-navigation .main-navigation-body {
    margin-top: 12.5em;
    text-align: center;
    min-height: 20em;
} 
#main-navigation .main-navigation-body .main-nav-item {
    margin-bottom: 1.7em;
}
#main-navigation .main-navigation-body .main-nav-item i {
    color: #ffffff;
    font-size: 2em;
}
#main-navigation .main-navigation-body .main-nav-item i:hover {
    cursor: pointer;
    color: #2C9BD9;
}
#main-navigation .main-navigation-footer {
    position: fixed;
    bottom: 1.5em;
    left: 2.2em;
    text-align: center;
    z-index: 1000;
    background: #1E262E;
}
#main-navigation .main-navigation-footer i {
    color: #ffffff;
    font-size: 2em;
}
#main-navigation .main-navigation-footer i:hover {
    cursor: pointer;
    color: #2C9BD9;
}
#main-navigation .main-nav-item.active i {
    color: #6EC4DB;
}   
/******* END MAIN NAVIGATION *********/

/******* BEGIN SUB NAVIGATION ******/
#sub-navigation {
    height: 100%;
    position: fixed;
    background: #313D48;
    color: #ffffff;
    padding: 0em;
    overflow: auto;
}
#sub-navigation .sub-navigation-item {
    height: 55%;
    overflow: scroll;
}
#sub-navigation .sub-navigation-header {
    padding: 0.5em 1em;
    border-bottom: 1px solid #000;
}
#sub-navigation .sub-navigation-header h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}
#sub-navigation .sub-navigation-body {
    padding: 0.5em 0em;
}
#sub-navigation .sub-navigation-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sub-navigation .sub-navigation-body ul li {
    font-size: 0.9em;
    position: relative;
    border-bottom: 1px solid #222;
    padding: 1.5em;
}
#sub-navigation .sub-navigation-body ul li a {
    color: #fff;
    text-decoration: none;
}
#sub-navigation .sub-navigation-body ul li i {
    position: absolute;
    top: 40%;
    right: 1em;
}
/******* END SUB NAVIGATION ******/

/******* BEGIN SITE CONTENT **********/
.content-container {
    height: 100%;
    margin-top: 11.35em;
    margin-left: 0em;
    padding-left: 0;
    padding-right: 0;
}
#content-wrapper {
    margin-left: 17.9999%;
}
#content-wrapper .content-body {
    padding: 2em 2em 5em;
}
#content-wrapper .content-body .box-wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 2.5em;
}
/******* END SITE CONTENT **********/

/******* BEGIN CAREERS SECTION *******/
#careers {
    background-image: url("../images/careers_background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.careers-content-wrapper {
    opacity: 0.9;
}
.careers-content-wrapper .careers-content-item .careers-item-header {
    padding: 2em 2em 1em;
    border-bottom: 1px solid lightgray;
}
.careers-content-wrapper .careers-content-item .careers-item-header .info-wrapper {
    float: left;
}
.careers-content-wrapper .careers-content-item .careers-item-header .info-wrapper h2 {
    margin-top: 0em;
    margin-bottom: 0.1em;
}
.careers-content-wrapper .careers-content-item .careers-item-header .info-wrapper h2 a {
    color: #A9A9A9;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
.careers-content-wrapper .careers-content-item .careers-item-header .info-wrapper .careers-item-position {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 0em;
    font-size: 1.1em;
}
.careers-content-wrapper .careers-content-item .careers-item-header .info-wrapper .careers-item-period {
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 0.8em;
}
.careers-content-wrapper .careers-content-item .careers-item-header .info-wrapper .careers-item-description {
    font-family: 'Lato', sans-serif;
}
.careers-content-wrapper .careers-content-item .careers-item-header .image-wrapper {
    float: right;
}
.careers-content-wrapper .careers-content-item .careers-item-header .image-wrapper img {
    width: 100%;
}
.careers-content-wrapper .careers-content-item .careers-item-skills {
    padding: 1em 2em 2em;
}
.careers-content-wrapper .careers-content-item .careers-item-skills h3 {
    margin-top: 0em;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Open Sans Condensed', sans-serif;
}
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:90%;
    background:#ccc;
    height:25px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    /*background:#6adcfa;*/
    background:#97c13c;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-title span {
    display:block;
    /*background:rgba(0, 0, 0, 0.1);*/
    background:rgba(0, 0, 0, 0);
    padding:0 20px;
    height:25px;
    line-height:25px;
    font-size: 0.85em;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-bar {
    height:25px;
    width:0px;
    /*background:#6adcfa;*/
    background:#97c13c;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.skill-bar-percent {
    position:absolute;
    right:-35px;
    top:0;
    font-size:11px;
    height:25px;
    line-height:25px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}


/******* END CAREERS SECTION *******/

